# shellcheck disable=SC2148,SC2155

export AZUREMONITOR_INSTRUMENTATION_KEY="{your azure monitor key}"

export CR_NAME=ghcr.io
export CR_USER="{your conntainer registry user name}"
export CR_PAT="{your conntainer registry password}"

[[ ! -f ./.envrc.local ]] || source_env ./.envrc.local
